*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  font-family: "Gilroy-Light";
  min-height: 100vh;
  color: $color-light;

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.75);
  }
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  display: inline-block;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}
