.header_icon {
  border-radius: 38px;
  width: 38px;
  height: 38px;
  border: 2px solid $color-light;
  background-image: url("/images/profile-avatar.jpg");
  background-size: cover;
  background-position: center;
}
