.nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  ul {
    text-align: center;
  }

  li {
    cursor: pointer;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 36px;
    font-family: "Gilroy-ExtraBold";
    transition: color 0.3s ease;

    &:hover {
      color: $color-primary;
    }

    @media screen and (min-width: 1200px) {
      margin: 2rem 0;
    }
  }
}
